* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

.App {
    background-color: lightgray;
    display: flex;
    justify-content: center;
    margin: auto;
}
