.PastRequestList {
    background-color: purple;
    color: lightblue;

    margin: 0;
    padding: 5px;
    height: 55vh;
    width: 30vw;

    border-style: solid;
    border-color: black;
    border-width: 5px 5px 5px 10px;

    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: thin;
}
