.PastRequestList {
    background-color: purple;
    color: lightblue;

    margin: 1vmax;
    padding: 5px;
    height: 80vh;
    width: 20vw;

    border: solid 3px black;
    border-radius: 10px;
}
